<% provide(:title, 'Sign Up') %>

<div class = "center">

  <h1>Log In</h1>

  <div class="flex-row">
    <%= form_for(:session, url: log_in_path) do |f| %>

      <div class="row mb-3 justify-content-center">
        <div class= "col-sm-2 col-form-label" >
          <%= f.label :email %>
        </div>
        <div class = "col-sm-5">
          <%= f.email_field :email ,class: "form-control" , placeholder: "name@example.com"%>
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <div class= "col-sm-2 col-form-label" >
          <%= f.label :password %>
        </div>
        <div class = "col-sm-5">
          <%= f.password_field :password ,class: "form-control" , placeholder: "Password"%>
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <p class="col-sm-2">New to Sample App?</p>
        <div class ="col-sm-5">
          <%= link_to("Sign up now!",sign_up_path,class: "btn btn-outline-primary ")%>
        </div>
      </div>

      <%= f.submit "Log In", class: "btn btn-primary col-5 btn-lg" %>
    <%end%>
  </div>

</div>